body {
    font-family: 'Raleway', sans-serif;
    background:#D1973E;

}

.navbar {
   background:#DE7F5B; 
}
.icon {
    color: black;
}

.about {
    background: #EFD8C0;
  
}

.featured {
    background:#2659A7 ;  
}

.icon-bg {
    background: #DF7E5D;
}

.hr-bg {
    background: #DF7E5D;
}

footer {
    background: #DE7F5B;
}
